body {
    background:url(https://st4.depositphotos.com/2627021/21088/i/450/depositphotos_210885256-stock-photo-wooden-table-red-leaves-autumn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#Tan {
    display: block;
    text-align: center;
    font-size: 5vh;
    color: aqua;
    background-color: purple;

}

#Video {
    background-color: orange;
    font-size: 50px;
    float: right;
}

#Video, #Foto {
    background-color: orange;
    font-size: 50px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    cursor: pointer
}   

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.hidden {
    display: none;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50px;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* #Foto {
    background-color: orange;
    font-size: 50px;
    text-align: center;
  
} */    